.content {
  @apply h-screen flex-1 p-4 pt-12 max-h-screen overflow-auto;

  .wrapBtnBack {
    @apply relative m-3 text-left gap-2 flex align-middle;

    button {
      @apply flex gap-2 align-middle;

      i {
        @apply flex my-auto text-pink-500 duration-200 cursor-pointer text-xl;
      }

      p {
        @apply text-pink-500;
      }
    }
  }

  .contentTable {
    @apply overflow-x-auto relative mt-5 border-2 rounded-lg mx-auto;
    max-width: 1100px;

    table {
      @apply w-full text-sm text-left text-gray-500 dark:text-gray-400;

      thead {
        @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;

        th {
          @apply py-3 px-6 text-center;
        }
      }
      tbody {
        tr {
          @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700;

          td {
            @apply py-2 px-6 text-center;

            .report {
              @apply flex flex-row justify-center;

              button {
                @apply gap-2 flex text-white bg-red-400 hover:bg-red-500 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-xl text-sm px-5 py-1.5 text-center dark:focus:ring-red-900;
              }
            }
          }
        }
      }
    }

    .contentBottom {
      @apply flex flex-wrap flex-row gap-10 justify-center bg-emerald-200/20;

      .contentPayment {
        @apply flex flex-col gap-3 p-3 place-items-center my-auto ; 
        
        p{
          font-size: 20px;
          font-weight: 400;
          
        }
        img {
          @apply sm:min-w-full rounded;
          width: 80%;
          height: 100%;
        }



      }

      .contentProduct {
        @apply flex justify-center gap-5 py-10 flex-wrap;

        .product {
          @apply rounded-lg shadow-lg bg-white max-w-xs relative pt-4;

          img {
            @apply mx-auto rounded-t-lg;
          }

          .producrDetail {
            @apply p-6;

            .pd_name {
              @apply text-gray-900 text-xl font-medium mb-2;
            }
            .pd_content {
              @apply text-gray-700 text-base mb-4;
            }
            .pd_status {
              @apply inline-block px-6 py-1.5 text-white font-medium text-xs leading-tight uppercase shadow-md;
            }
          }
        }
      }
    }
  }
}
